*{
    margin: 0;
    padding: 0;
    
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

.logo h2{
    font-size:45px ;
    font-weight: 900px;
}
.color_orange{
    color: #FD6E0A ;
}
.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: white;
    border: none ;
    border-radius: 5px ;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
    cursor:         pointer ;

}
header {
 background-color: #f5e2d5 ;
 padding-top: 50px;
 background: url(images/developer.png), url(images/header_bg.png),  #f5e2d5 ;
 background-position: top left , bottom right;
 background-repeat:         no-repeat ;

}
nav {
    width: 71% ;
    max-width: 1140px ;
    /* border:     1px solid red ; */
    margin:     0 auto ;
    display: flex ;
    justify-content: space-between;
    align-items: center ;
}
nav .menu {
    list-style: none;
    display: flex ;
    gap: 51px ;
    align-items:    center;
}
nav .menu li a {
   font-size: 20px ;
   color: #474747;
   text-decoration:     none ;
}
.banner{
    /* border:     1px solid red ; */
    margin: 47px 38px 0px 230px ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-content{
    max-width: 585px;
    max-height: 356px;
}
.banner-content h2{
   font-size: 45px;
   font-weight: 600;
   color: #474747;
}
.banner-content h1{
   font-size: 85px;
   font-weight: bold;
   color: #000000;
}
.banner-content p{
    font-size: 18px;
    color: #474747;
    line-height:        30px ;
   
}
.banner-image img{
    width: 500px;
    
}