*{
    margin: 0;
    padding: 0;
    
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

.logo h2{
    font-size:45px ;
    font-weight: 900px;
}
.color_orange{
    color: #FD6E0A ;
}
.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: white;
    border: none ;
    border-radius: 5px ;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
    cursor:         pointer ;

}
header {
 background-color: #f5e2d5 ;
 padding-top: 50px;
 background: url(images/developer.png), url(images/header_bg.png),  #f5e2d5 ;
 background-position: top left , bottom right;
 background-repeat:         no-repeat ;

}
nav {
    width: 71% ;
    max-width: 1140px ;
    /* border:     1px solid red ; */
    margin:     0 auto ;
    display: flex ;
    justify-content: space-between;
    align-items: center ;
}
nav .menu {
    list-style: none;
    display: flex ;
    gap: 51px ;
    align-items:    center;
}
nav .menu li a {
   font-size: 20px ;
   color: #474747;
   text-decoration:     none ;
}
.banner{
    /* border:     1px solid red ; */
    margin: 47px 38px 0px 230px ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-content{
    max-width: 585px;
    max-height: 356px;
}
.banner-content h2{
   font-size: 45px;
   font-weight: 600;
   color: #474747;
}
.banner-content h1{
   font-size: 85px;
   font-weight: bold;
   color: #000000;
}
.banner-content p{
    font-size: 18px;
    color: #474747;
    line-height:        30px ;
   
}
.banner-image img{
    width: 500px;
    
}
.continer-about{
    margin: 10px;
    /* border:         1px solid red ; */
}
#about {
    padding-top: 130px;
}
#about .continer-about{
    width: 71% ;
    max-width: 1140px ;
    margin:     0 auto ;
    text-align:     center ;
    background-color: #FFF8F3;
    padding: 131px 156px 131px 156px;
}
.section-heading{
    max-width: 827px;
    text-align: center ;
    margin: 0% auto;
    

}
.section-heading h2{
    font-size: 35px;
   margin-bottom: 30px;
    color: #181818;
    
}
.section-heading p{
    margin-bottom: 30px;
    font-size: 18px;
    color: #757575;
}
#info-card{
    display: flex ;
    gap: 30px ;
    justify-content: center ;
}
#about .continer-about .about-info
{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    color: #757575 ;
}
.about-info .info-card h4{
    font-size: 20px;
    color: #181818 ;
}
#skills{
    padding-top: 130px;
    padding-bottom: 100px;
}
#skills .skills-container {
    width: 71% ;
    max-width: 1140px ;
    margin: 0 auto ;
}
#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skill-card {
    padding:    30px ;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   max-width: 267px;
}
.skill-card img{
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
   font-size: 20px;
   color:       #181818 ;
   padding-bottom:  20px ;
}
.skill-card p{
    font-size: 16px;
    color: #757575 ;
}
    
